bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
docutils==0.16
fire==0.4.0
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
jeepney==0.6.0
Jinja2==2.11.3
keyring==22.3.0
MarkupSafe==1.1.1
pkginfo==1.7.0
prompt-toolkit==1.0.14
pycparser==2.20
pyfiglet==0.8.post1
Pygments==2.8.1
PyInquirer==1.0.3
readme-renderer==29.0
regex==2021.4.4
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
termcolor==1.1.0
torchblaze @ file:///home/siddesh/Work/torchblaze
tqdm==4.58.0
twine==3.3.0
urllib3==1.26.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
